<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>vote</display-name>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>VoteAction</display-name>
    <servlet-name>VoteAction</servlet-name>
    <servlet-class>com.accp.action.VoteAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoteAction</servlet-name>
    <url-pattern>/vote</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Charset</display-name>
    <filter-name>Charset</filter-name>
    <filter-class>com.accp.Fiter.Charset</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Charset</filter-name>
    <url-pattern>/Charset</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/jsp/404.jsp</location>
  </error-page>
</web-app>