<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.t3.dao.IPersonDao">
	<resultMap type="person" id="abc">
		<id column="pid" property="pid" />
		<result column="pname" property="pname" />
		<result column="psex" property="psex" />
		<result column="pdate" property="pdate" />
		<result column="pimg" property="pimg" />
		<collection property="add" column="pid" select="hhh"></collection>
	</resultMap>

	<select id="hhh" resultType="address">
		select * from tbl_address where
		apid=#{0}
	</select>

	<select id="queryAllPersons" resultMap="abc">
		select * from tbl_person
	</select>
	
	<!-- 命名sql,封装一些通用sql -->
	<sql id="byAll">
		select * from
	</sql>

	<!-- 动态sql模糊查询 -->
	<select id="queryAllPersonsByParam1" resultType="person">
		 <include refid="byAll"/>  tbl_person
		<where>
			<if test="name!=null">
				and pname like '${name}%'
			</if>
			<if test="sex!=null">
				and psex=#{sex}
			</if>
		</where>
	</select>

	<select id="queryAllPersonsByParam2" resultType="person">
		<include refid="byAll"/>
		tbl_person
		where pname in
		<foreach collection="names" open="(" separator="," close=")"
			item="temp">
			#{temp}
		</foreach>
	</select>
	
	<!-- 主从新增 -->
	<insert id="savePerson">
		insert into tbl_person(pid,pname,psex,pdate,pimg)
		values(#{person.pid},#{person.pname},#{person.psex},#{person.pdate,jdbcType=DATE},#{person.pimg});
		<if test="person.add.size()!=0">
			insert into tbl_address(aname,atel,apid)
			values 
			<foreach collection="person.add" item="temp" separator=",">
				(#{temp.aname},#{temp.atel},#{person.pid})
			</foreach>
			;
		</if>
	</insert>
	
	<!-- 动态更新 -->
	<update id="updatePerson">
		update tbl_person
		<set>
			<if test="person.pname!=null">
				pname=#{person.pname},
			</if>
			<if test="person.psex!=null">
				psex=#{person.psex},
			</if>
			<if test="person.pdate!=null">
				pdate=#{person.pdate,jdbcType=DATE},
			</if>
			<if test="person.pimg!=null">
				pimg=#{person.pimg},
			</if>
		</set> 
		where pid=#{person.pid}
	</update>


</mapper>

