<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.accp.sum1">
    <select id="selAll" resultType="map">SELECT * FROM `tbl_message`</select>
  		<insert id="add" parameterType="com.accp.entity.Message">
		insert into tbl_message(userName,title,createTime,contents)
		values(#{userName},#{title},#{createTime,jdbcType=DATE},#{contents})
	</insert>
    </mapper>